<% include ../partials/header %>
<form method="POST" action="/register">
    <div class="form-group">
        <input class="form-control" style="width: 30%; margin: 0 auto;" type="text" placeholder="Username" name="username" required>
    </div>
    <div class="form-group">
        <input  class="form-control mx-auto" style="width:30%;" type="password" placeholder="Password" name="password" required>
    </div>
    <div class="form-group">
        <button style="width:30%; display: block; margin: 0 auto;" class="btn-md btn-danger rounded" type="submit">SIGN UP!</button>
    </div>
</form>



<%include ../partials/footer %>