body {
    min-height: 100vh;
    padding-bottom: 10px;
}

.right{
    float: right;
}

.alert{
    height: 50px;
    width: 100%;
}

.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert p{
   height: 100%;

}
